* {
    margin: 0;
    padding: 0;
}

.box1 {
    border: medium solid black;
    width: 300px;
    height: 200px;
    float: left;
    margin: 1em;
}

.box2 {
    border: medium solid black;
    width: 300px;
    height: 200px;
    float: right;
    margin: 1em;
}
