* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    width: 720px;
    margin: 0 auto;
}

header {
    background-color: blue;
    color: white;
}

header h1 {
    font-size: 1em;
    background-color: navy;
}

header p {
    font-size: 2em;
    padding: 1em;
}

header nav {
    background-color: navy;
    height: 1.5em;
    padding-left: 2em;
}

header nav li {
    display: block;
    width: 5em;
    float: left;
}

section {
    float: right;
    width: 550px;
}

article {
    margin: 1em .5em;
}

article h2 {
    border-bottom: 2px gray solid;
}

#sidebar {
    width: 150px;
    float: left;
    display: block;
}

#sidebar h2 {
    margin-top: 1em;
}

footer {
    float: none;
    clear: both;
    text-align: center;
    border-top: 2px gray solid;
    padding: 0.5em;
}